.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--layout-max-width);
  min-width: 320px;
  min-height: 100svh;
  margin-inline: auto;
}

.main {
  flex: 1 0 auto;
  min-width: 0;
  max-width: 100%;
}
